body {
    margin: 0;
    padding: 0;
    /*background-image: linear-gradient(to bottom right, red, yellow);*/
    
}
.header {
    top: 0;
    margin-top: 0;
    background-color: #391e77;
    height: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: 1.8fr 4.7fr 1fr;
    line-height: 80px;
    position: fixed;
    z-index: 999;
}
.header .site-name {
    
    margin-top: 0;
    color: white;
    padding-left: 30px;
}
.logo-home {
    text-decoration: none;
}
.site-name {
    text-decoration: none;
    display: flex;
    align-items: center; /* Vertical alignment */
}

.header ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
}
.header ul li {
    list-style-type: none;
    display: inline-block;
}
.header ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 20px;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.3s;
}
.header ul li a:hover {
    background-color: white;
    border-radius: 10px;
    color: black;
}
.header button {
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border: none;
    padding: 8px;
    width: 90px;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
}
.header .right {
    padding-left: 50px;
}
.header button a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.header button:hover {
    color: white;
}
.header .sign-in:hover, .header .sign-up:hover {
    background-color: blue;
    cursor: pointer;
    color: white;
}
.header button a:hover {
    color: white;
}


/* Footer */

.footer {
    margin-top: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
    background: #391e77;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer div {
    text-align: center;
}
.footer h3 {
    margin-bottom: 5px;
}
.footer a {
    color: white;
    text-decoration: none;
    font-size: 15px
}
.footer .links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 5px;
}

.social-media {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 5px;
}
#updates-email {
    width: 70%;
    padding: 8px;
    border-radius: 5px;
    border: none;
}
.submit-button {
    background-color: white;
    font-size: 15px;
    width: 80px;
    padding: 7px;
    border-radius: 5px;
    border: none;
    vertical-align: middle;
}
.submit-button:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}