/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #391e77;
  --white: #fff;
  --gray: #fff;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.dashboard-containe {
  margin-top: 80px;
  position: relative;
  width: 100%;
}

/* =============== Navigation ================ */
.dashboard-navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
}

.dashboard-navigation.active {
  width: 80px;
}

.dashboard-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.dashboard-list .dashboard-item {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.dashboard-list .dashboard-item:hover,
.dashboard-list .dashboard-item.hovered {
  background-color: var(--white);
}

.dashboard-list .dashboard-item:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.dashboard-list .dashboard-item a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}

.dashboard-list .dashboard-item:hover a,
.dashboard-list .dashboard-item.hovered a {
  color: var(--blue);
}

.dashboard-list .dashboard-item a .dashboard-icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}

.dashboard-list .dashboard-item a .dashboard-icon ion-icon {
  font-size: 1.75rem;
}

.dashboard-list .dashboard-item a .dashboard-title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/*---curving the outside---*/
.dashboard-list .dashboard-item:hover a::before,
.dashboard-list .dashboard-item.hovered a::before {
content: "";
position: absolute;
right: 0;
top: -50px;
width: 50px;
height: 50px;
background-color: transparent;
border-radius: 50%;
box-shadow: 35px 35px 0 10px var(--white);
pointer-events: none;
}
.dashboard-list .dashboard-item:hover a::after,
.dashboard-list .dashboard-item.hovered a::after {
content: "";
position: absolute;
right: 0;
bottom: -50px;
width: 50px;
height: 50px;
background-color: transparent;
border-radius: 50%;
box-shadow: 35px -35px 0 10px var(--white);
pointer-events: none;
}

/* ===================== Main ===================== */
.dashboard-main {
position: absolute;
width: calc(100% - 300px);
left: 300px;
min-height: 100vh;
background: var(--gray);
transition: 0.5s;
}
.dashboard-main.active {
width: calc(100% - 80px);
left: 80px;
}

.dashboard-topbar {
width: 100%;
height: 60px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 10px;
}

.dashboard-toggle {
position: relative;
width: 60px;
height: 60px;
display: flex;
justify-content: center;
align-items: center;
font-size: 2.5rem;
cursor: pointer;
}

.dashboard-search {
position: relative;
width: 400px;
margin: 0 10px;
}

.dashboard-search label {
position: relative;
width: 100%;
}
.dashboard-item.toggled .dashboard-title {
  display: none;
}

.dashboard-search label input {
width: 100%;
height: 40px;
border-radius: 40px;
padding: 5px 20px;
padding-left: 35px;
font-size: 18px;
outline: none;
border: 1px solid var(--black2);
}

.dashboard-search label ion-icon {
position: absolute;
top: 0;
left: 10px;
font-size: 1.2rem;
}

.dashboard-user {
position: relative;
width: 40px;
height: 40px;
border-radius: 50%;
overflow: hidden;
cursor: pointer;
}

.dashboard-user img {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}

/*******cards***********/
.dashboard-cardbox {
  position: relative;
  width: 90%;
  height: 20px;
  display: grid;
  padding-left: 100px;
  padding-top: 70px;
  padding-right: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 65px;
  align-items: center;
}

.dashboard-cardbox .dashboard-card {
  position: relative;
  background: var(--white);
  padding: 70px;
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 08);
}

.dashboard-cardbox .dashboard-card .dashboard-numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--blue);
}

.dashboard-cardbox img {
  width: 100%;
  height: 60%;
}

.dashboard-cardName {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dashboard-cardbox .dashboard-card .dashboard-numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--blue);
}

.dashboard-left {
flex: 2;
padding-top: 10px;
padding-left: 50px;
padding-right: 50px;
padding-bottom: 50px;
}

.dashboard-left p {
line-height: 4;
display: flex;
}

.dashboard-h2 {
background: #00b6c4;
padding: 15px;
color: #fff;
margin: 10px 0;
font-size: 20px;
border-radius: 0 50px 50px 0;
}
.dashboard-item.toggled h1 {
  display: none;
}
