body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    min-height: 80vh;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://images.pexels.com/photos/18108314/pexels-photo-18108314/free-photo-of-modern-expensive-cars-in-the-garage.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: blur(4px);
    z-index: -1;
}

h1 {
    color: rgb(47, 63, 157);
    font-family: sans-serif;
    font-size: 3em;
    margin-bottom: 0;
    text-align: center;
}

table {
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

th, td {
    padding: .25em .5em;
    text-align: left;
    font-size: 18px;
}

th:nth-child(2), td:nth-child(2) {
    text-align: right;
}

td {
    background-color: #eeeeee7e;
}

th {
    background-color: #009;
    color: #fff;
}

.actionedit {
    background-color: blue;
    color: white;
    border: none;
}

.actiondelete {
    background-color: red;
    color: white;
    border: none;
}

.navbar {
    background-color: #3d64ab;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}

.navbar a:hover {
    background-color: #8ca9e1;
}

.footer {
    background-color: #3d64ab;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}
